.comment-form,
.search-form {
    label {
        font-weight: bold;
        display: block;
        margin-bottom: .5rem;
    }

    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    textarea {
        width: 100%;
        padding: .75rem;
        border: 1px solid rgba(205, 215, 220, 0.8);
        margin-bottom: 1rem;

        &:focus {
            border-color: hsl(200, 23.3%, 70.5%);
        }
    }
}
